.services{
background:#faf9f9;
padding:100px 80px;
text-align:center;
}

.services h1{
font-size:40px;
margin-bottom:10px;

}

.services p{
color:rgb(252, 251, 251);
}

.services-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:60px;
}

.card{
background:#111;
padding:40px;
width:300px;
border-radius:10px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.icon{
font-size:45px;
color:#8cc63f;
margin-bottom:20px;
}

.card h2{
margin-bottom:20px;
color:white;
}
@media (max-width: 768px) {
  .services-container {
    min-height: auto !important;
    height: auto !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}
@media (max-width: 768px) {
  .service-container {
    display: flex !important;
    flex-direction: column !important; /* കാർഡുകൾ ഒന്നിന് താഴെ ഒന്നാക്കാൻ */
    align-items: center !important;
    gap: 30px !important;
    width: 100% !important;
  }

  .card {
    width: 90% !important; /* മൊബൈലിൽ നല്ല വലിപ്പം കിട്ടാൻ */
    max-width: 350px !important;
    margin: 0 auto !important;
  }
}