.services{
background:#faf9f9;
padding:100px 80px;
text-align:center;
}

.services h1{
font-size:40px;
margin-bottom:10px;

}

.services p{
color:rgb(252, 251, 251);
}

.service-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:60px;
}

.card{
background:#111;
padding:40px;
width:300px;
border-radius:10px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.icon{
font-size:45px;
color:#8cc63f;
margin-bottom:20px;
}

.card h2{
margin-bottom:20px;
color:white;
}
